useDynLib(rehh)

exportClasses(haplohh)
export(bifurcation.diagram)
export(calc_ehh)
export(calc_ehhs)
export(data2haplohh)
export(distribplot)
export(ies2rsb)
export(ihh2ihs)
export(ihsplot)
export(make.example.files)
export(rsbplot)
export(scan_hh)
