useDynLib(rehh, .registration = TRUE)

exportClasses(haplohh)
export(bifurcation.diagram)
export(calc_ehh)
export(calc_ehhs)
export(data2haplohh)
export(distribplot)
export(ies2rsb)
export(ies2xpehh)
export(ihh2ihs)
export(ihsplot)
export(make.example.files)
export(rsbplot)
export(scan_hh)
export(xpehhplot)

import(rehh.data)
import(gplots)
import(methods)
importFrom("grDevices", "dev.new","dev.list","dev.cur")
importFrom("graphics", "abline", "axis", "curve", "legend", "lines","matplot", "par", "plot")
importFrom("stats", "density", "dnorm", "median", "pnorm", "qqnorm","sd")
importFrom("utils", "read.table", "tail","unzip")
